# Reformat Pointing Data for Triaging Sim

The csv pointing data current is in multiple formats. This notebook has been made to create consistent formatting between these files for simulations.

In [24]:
import pandas as pd
from astropy.coordinates import SkyCoord, Angle
from astropy import units as u
import numpy as np

In [44]:
files = [
    'fornax.csv', 'laduma.csv', 'meertime_1000PTA_1000brightest_targets.csv', 
    'MeerTime_GC_targets.csv', 'MeerTime_binaries_atnfcatalog_notgc.csv', 
    'mhongoose_webtable.csv', 'Trapum_GC_targets.csv', 
    'Trapum_fermi_targets.csv', 'trapum_galaxies.csv'    
]

## MALS

In [36]:
tb = pd.read_csv('../data/MALS.csv')

In [37]:
ra = tb['ra']
decl = tb['dec']

In [41]:
coords = SkyCoord(ra, decl, unit = (u.hourangle, u.degree))

In [45]:
tb = pd.DataFrame(data = {'ra_deg': coords.ra.deg, 'dec_deg': coords.dec.deg})

In [47]:
tb.to_csv('../pointing_data/MALS.csv', index = False)

## MIGHTEE L-band and S-band

In [103]:
mightee_files = ['e-cdfs.csv', 'xmm-lss.csv', 'elais-s1.csv']
tb = pd.read_csv('../data/cosmos.csv')

for m in mightee_files:
    tb = pd.concat([tb, pd.read_csv('../data/' + m)])

In [104]:
coord = SkyCoord(tb.ra[1:], tb.dec[1:], unit = (u.hourangle, u.degree))

In [106]:
targets = pd.DataFrame(data={'ra': coord.ra.deg, 'dec': coord.dec.deg})

In [108]:
targets.loc[5000] = [2.205833, 150.119]

In [110]:
targets.to_csv('../pointing_data/mightee-L.csv')

In [112]:
targets.loc[(targets['dec'] > -4) | (targets['dec'] < -8)].to_csv('../pointing_data/mightee-S.csv')

## Fornax

In [8]:
tb = pd.read_csv('../data/' + files[0])
tb.head()

      ra   dec
0  50.67 -37.2

In [11]:
tb.rename(columns = {'ra': 'ra_deg', 'dec': 'dec_deg'}).to_csv('../reform_data/fornax.csv')

## LADUMA

In [12]:
tb = pd.read_csv('../data/' + files[1])
tb.head()

   ra_deg  dec_deg
0   53.12   -28.13

In [13]:
tb.to_csv('../reform_data/laduma.csv')

## MeerTime 1000

In [45]:
tb = pd.read_csv('../data/' + files[2])
tb.head()

,NAME,PSRJ,RAJ,DECJ,PMRA,PMDEC,PX,POSEPOCH,ELONG,ELAT,...,AGE,BSURF,EDOT,EDOTD2,PMTOT,VTRANS,P1_I,AGE_I,BSURF_I,B_LC
0,B0031-07,J0034-0721,00:34:08.8,-07:21:53.4,10.370,-11.130,0.930,52275.0,4.900,-10.147,...,3.66e+07,6.28e+11,1.92e+31,1.81e+31,15.212,74.285,4.08e-16,3.66e+07,6.27e+11,7.02e+00
1,J0134-2937,J0134-2937,01:34:18.6,-29:37:17.0,13.000,-11.000,*,54428.0,8.735,-36.285,...,2.77e+07,1.05e+11,1.20e+33,1.93e+30,17.029,2018.393,7.60e-17,2.86e+07,1.03e+11,3.83e+02
2,B0149-16,J0152-1637,01:52:10.8,-16:37:52.9,3.100,-27.000,*,48227.0,19.501,-26.218,...,1.02e+07,1.05e+12,8.88e+31,1.05e+32,27.177,118.539,1.30e-15,1.02e+07,1.05e+12,1.71e+01
3,B0254-53,J0255-5304,02:55:56.2,-53:04:21.3,0.000,70.000,*,46916.0,8.528,-64.079,...,2.32e+08,1.18e+11,1.35e+31,5.90e+30,70.000,501.120,2.26e-17,3.15e+08,1.02e+11,1.24e+01
4,B0301+19,J0304+1932,03:04:33.1,+19:32:51.4,6.000,-37.000,*,49289.0,49.200,2.104,...,1.70e+07,1.36e+12,1.91e+31,3.50e+31,37.483,131.503,1.29e-15,1.70e+07,1.35e+12,4.76e+00

In [46]:
tb = tb.loc[:, ['RAJ', 'DECJ']]

In [47]:
sk = SkyCoord(tb['RAJ'], tb['DECJ'], unit=(u.hourangle, u.deg))
tb['ra_deg'] = sk.ra.deg
tb['dec_deg'] = sk.dec.deg

In [48]:
tb = tb.loc[:, ['ra_deg', 'dec_deg']].drop_duplicates()

In [50]:
tb.loc[:, ['ra_deg', 'dec_deg']].to_csv('../pointing_data/' + files[2])

## MeerTime GC

In [26]:
tb = pd.read_csv('../data/' + files[3])
tb.head()

             RA           DEC            NAME      ra_deg    dec_deg
0   17 48 05.00   -24 46 48.0  Cl Terzan    5  267.020833 -24.780000
1  00 24 05.359  -72 04 53.20       NGC   104    6.022329 -72.081444
2   18 24 32.89   -24 52 11.4           M  28  276.137042 -24.869833
3   21 29 58.33   +12 10 01.2           M  15  322.493042  12.167000
4   17 01 12.60   -30 06 44.5           M  62  255.302500 -30.112361

In [27]:
tb.loc[:, ['ra_deg', 'dec_deg']].to_csv('../reform_data/' + files[3])

## MeerTime Binaries

In [28]:
tb = pd.read_csv('../data/' + files[4])
tb.head()

,Unnamed: 0,Unnamed: 0.1,NAME,PSRJ,RAJ,DECJ,PMRA,PMDEC,PX,POSEPOCH,...,BSURF,EDOT,EDOTD2,PMTOT,VTRANS,P1_I,AGE_I,BSURF_I,B_LC,Unnamed: 69
0,5,432,J1757-5322,J1757-5322,17:57:15.1,-53:22:26.3,*,*,*,51570.0,...,4.89e+08,1.49e+33,1.68e+33,*,*,*,*,*,6.57e+03,NaN
1,6,707,J2129-0429,J2129-0429,21:29:45.0,-04:29:05.5,*,*,*,55196.0,...,*,*,*,*,*,*,*,*,*,NaN
2,7,709,B2127+11C,J2129+1210C,21:30:01.2,+12:10:38.2,-1.300,-3.300,*,50000.0,...,1.25e+10,6.92e+33,3.43e+31,3.547,238.779,4.97e-18,9.72e+07,1.25e+10,4.11e+03,NaN
3,8,889,J1141-6545,J1141-6545,11:41:07.0,-65:45:19.1,*,*,*,54637.0,...,1.32e+12,2.78e+33,3.09e+32,*,*,*,*,*,2.02e+02,NaN
4,9,1019,J0737-3039A,J0737-3039A,07:37:51.2,-30:39:40.7,-3.820,2.130,0.870,54100.0,...,6.40e+09,5.94e+33,4.91e+33,4.374,22.809,1.76e-18,2.04e+08,6.39e+09,5.13e+03,NaN

In [31]:
tb = tb.loc[:, ['RAJ', 'DECJ']]
sk = SkyCoord(tb['RAJ'], tb['DECJ'], unit=(u.hourangle, u.deg))
tb['ra_deg'] = sk.ra.deg
tb['dec_deg'] = sk.dec.deg

In [32]:
tb.loc[:, ['ra_deg', 'dec_deg']].to_csv('../reform_data/' + files[4])

## Mhongoose

In [34]:
tb = pd.read_csv('../data/' + files[5])
tb.head()

,Rank,Name,Name.1,RA,Dec,D,Vhel,Mag/Filter,lgMHI_bin,lgMHI,a/b,W50,Type,ra_deg,dec_deg
0,1,J0454-53,NGC1705,04h54m13.50s,-53d21m39.8s,5.10,633.3,12.77,1,7.96,0.74,128,.LA.-P*,73.556250,-53.361056
1,2,J0008-34,ESO349-G031,00h08m13.36s,-34d34m42.0s,3.29,221.0,15.4B,1,7.17,0.82,30,.IB.9..,2.055667,-34.578333
2,3,J0049-20,UGCA015,00h49m49.20s,-21d00m54.0s,3.34,294.6,15.1B,1,6.99,0.41,36,.IBS9*.,12.455000,-21.015000
3,4,J0310-39,ESO300-G016,03h10m10.48s,-40d00m10.5s,9.35,709.7,15.56,1,7.95,0.81,36,NaN,47.543667,-40.002917
4,5,J1321-31,KK98-195,13h21m08.20s,-31d31m45.0s,5.22,571.8,17.1,1,7.56,0.46,38,NaN,200.284167,-31.529167

In [35]:
tb.loc[:, ['ra_deg', 'dec_deg']].to_csv('../reform_data/' + files[5])

## Trapum GC

In [38]:
tb = pd.read_csv('../data/' + files[6])
tb.head()

             RA           DEC             NAME      ra_deg    dec_deg
0   17 33 24.50   -33 23 20.0       C 1730-333  263.352083 -33.388889
1  17 36 17.461  -44 44 08.34        NGC  6388  264.072754 -44.735650
2   13 26 47.28   -47 28 46.1        NGC  5139  201.697000 -47.479472
3    18 08 21.8     -19 49 47  NAME 2MASS-GC01  272.090833 -19.829722
4    18 09 36.5     -20 46 44  NAME 2MASS-GC02  272.402083 -20.778889

In [39]:
tb.loc[:, ['ra_deg', 'dec_deg']].to_csv('../reform_data/' + files[6])

## Fermi Targets

In [40]:
tb = pd.read_csv('../data/' + files[7])
tb.head()

,Unnamed: 0,Source Name,Association,RA,Dec,Gal l,Gal b,Flux 1-100 GeV(photons cm-2s-1),+/-,Spectral Index,+/-.1,Variability Index,Classification,Light Curve(Likelihood),Spectrum,DataAccess
0,0,3FGL J0001.6+3535,NaN,0.4043,35.5905,111.6610,-26.1885,2.681200e-10,6.930390e-11,2.35052,0.185889,32.3943,Unassociated,Link,Link,Link
1,1,3FGL J0003.4+3100,NaN,0.8576,31.0085,110.9640,-30.7451,3.139310e-10,6.983020e-11,2.55384,0.130900,38.5360,Unassociated,Link,Link,Link
2,2,3FGL J0008.3+1456,NaN,2.0881,14.9336,107.6790,-46.6581,4.115650e-10,7.778280e-11,2.26955,0.128346,34.4397,Unassociated,Link,Link,Link
3,3,3FGL J0017.1+1445,NaN,4.2937,14.7612,110.6720,-47.2933,2.452750e-10,6.938830e-11,1.88303,0.177631,36.1434,Unassociated,Link,Link,Link
4,4,3FGL J0031.2-2320,NaN,7.8130,-23.3427,71.5023,-84.0711,2.372560e-10,6.107380e-11,2.13911,0.170399,33.5063,Unassociated,Link,Link,Link

In [42]:
tb.rename(columns = {'RA': 'ra_deg', 'Dec': 'dec_deg'}).to_csv('../reform_data/' + files[7])

## Trapum Galaxies

In [44]:
tb = pd.read_csv('../data/' + files[8])
tb.head()

          ra        dec
0  80.900000 -69.750000
1  13.186588 -72.828599
2  23.462042  30.660222

In [45]:
tb.rename(columns = {'ra': 'ra_deg', 'dec': 'dec_deg'}).to_csv('../reform_data/' + files[8])

## Test Pointings

In [14]:
def haversine(lon1, lat1, lon2, lat2):
    """
    Calculate the great circle distance between two points 
    on the earth (specified in decimal degrees)
    """
    # convert decimal degrees to radians 
    lon1, lat1, lon2, lat2 = map(np.radians, [lon1, lat1, lon2, lat2])
    # haversine formula 
    dlon = lon2 - lon1 
    dlat = lat2 - lat1 
    a = np.sin(dlat/2)**2 + np.cos(lat1) * np.cos(lat2) * np.sin(dlon/2)**2
    return 2 * np.rad2deg(np.arcsin(np.sqrt(a)))

In [51]:
table = pd.read_csv('../pointing_data/meertime_1000PTA_1000brightest_targets.csv')

In [53]:
table

     Unnamed: 0      ra_deg    dec_deg
0             0    8.536667  -7.364833
1             1   23.577500 -29.621389
2             2   28.045000 -16.631361
3             3   43.984167 -53.072583
4             4   46.137917  19.547611
5             5   60.465000 -76.137167
6             6   73.142083 -17.989806
7             7   81.485000  11.255278
8             8   82.217500  22.001111
9             9   83.632917  22.014444
10           10   84.127917 -75.732417
11           11   84.604167  28.285861
12           12   85.790000  23.484722
13           13   90.495417  -5.464028
14           14   93.202500  37.360361
15           15   93.571250  22.510000
16           16   95.342083  10.044083
17           17   96.083333  -4.414000
18           18   96.973333   6.831694
19           19   97.273750  24.262028
20           20   97.705833 -28.578528
21           21  101.628750   9.097028
22           22  104.950417  14.239306
23           23  114.634583 -40.711361
24           24  115.704167 -28.378806
25           25  117.708333 -68.740833
26           26  119.620833 -15.469083
27           27  122.432500 -47.898639
28           28  125.109583 -13.848833
29           29  125.064167 -41.243444
..          ...         ...        ...
585        1039  302.147500  25.225083
586        1040  304.239167  19.797639
587        1041  304.370417  20.725528
588        1042  307.668333  22.472722
589        1043  308.364583  17.582889
590        1044  309.310417  19.715083
591        1045  309.725417 -38.269972
592        1046  310.931250  27.682222
593        1047  311.447083   9.208083
594        1048  312.190833  22.918139
595        1049  313.912917  22.157556
596        1050  316.500000  28.483333
597        1051  317.126667 -34.493861
598        1052  321.193750  14.122028
599        1053  321.880000 -66.807806
600        1054  327.870417  23.253556
601        1055  328.815833  28.220028
602        1056  328.755833 -56.699167
603        1057  329.098750  26.308444
604        1058  331.321667  14.742028
605        1059  331.750000  40.950000
606        1060  333.915000  15.643000
607        1061  336.875000  30.600000
608        1062  338.735833  21.238556
609        1063  338.932083  15.113611
610        1064  343.310417  15.277167
611        1065  344.234583 -10.409528
612        1066  346.921667  22.430583
613        1067  351.112083 -60.901694
614        1070  280.325417  -5.005417

[615 rows x 3 columns]

In [39]:
ras, decs = np.array(tb['ra_deg']), np.array(tb['dec_deg'])

In [41]:
for i in np.arange(ras.shape[0]):
    dist = haversine(ras[i], decs[i], ras, decs)
    idx = np.where(dist < 0.4)[0]
    print (i, [j for j in idx if j != i])

(0, [])
(1, [])
(2, [])
(3, [])
(4, [])
(5, [])
(6, [])
(7, [])
(8, [])
(9, [])
(10, [])
(11, [])
(12, [])
(13, [])
(14, [281])
(15, [])
(16, [])
(17, [])
(18, [282])
(19, [])
(20, [])
(21, [])
(22, [])
(23, [])
(24, [])
(25, [])
(26, [])
(27, [])
(28, [])
(29, [])
(30, [])
(31, [])
(32, [])
(33, [])
(34, [])
(35, [])
(36, [])
(37, [])
(38, [])
(39, [])
(40, [])
(41, [])
(42, [])
(43, [])
(44, [])
(45, [])
(46, [])
(47, [])
(48, [])
(49, [])
(50, [])
(51, [])
(52, [])
(53, [309])
(54, [])
(55, [])
(56, [])
(57, [])
(58, [])
(59, [])
(60, [])
(61, [])
(62, [])
(63, [])
(64, [])
(65, [])
(66, [322])
(67, [])
(68, [])
(69, [])
(70, [])
(71, [])
(72, [])
(73, [])
(74, [])
(75, [])
(76, [])
(77, [])
(78, [])
(79, [])
(80, [])
(81, [])
(82, [])
(83, [])
(84, [])
(85, [])
(86, [])
(87, [])
(88, [])
(89, [])
(90, [])
(91, [])
(92, [])
(93, [])
(94, [])
(95, [])
(96, [])
(97, [])
(98, [])
(99, [])
(100, [])
(101, [])
(102, [103])
(103, [102])
(104, [])
(105, [516])
(106, [])
(107, [])
(108, [])
(109, [])
(110, [])
(111, [])
(112, [])
(113, [])
(114, [])
(115, [])
(116, [])
(117, [])
(118, [])
(119, [])
(120, [])
(121, [359])
(122, [])
(123, [])
(124, [])
(125, [])
(126, [])
(127, [])
(128, [])
(129, [])
(130, [])
(131, [])
(132, [])
(133, [])
(134, [])
(135, [])
(136, [])
(137, [])
(138, [])
(139, [])
(140, [])
(141, [])
(142, [])
(143, [144])
(144, [143])
(145, [])
(146, [])
(147, [])
(148, [])
(149, [])
(150, [])
(151, [])
(152, [])
(153, [])
(154, [])
(155, [])
(156, [157])
(157, [156])
(158, [])
(159, [])
(160, [])
(161, [])
(162, [])
(163, [])
(164, [])
(165, [])
(166, [])
(167, [168])
(168, [167])
(169, [])
(170, [])
(171, [])
(172, [])
(173, [])
(174, [])
(175, [])
(176, [])
(177, [])
(178, [])
(179, [])
(180, [])
(181, [])
(182, [])
(183, [])
(184, [])
(185, [])
(186, [])
(187, [])
(188, [])
(189, [])
(190, [])
(191, [])
(192, [])
(193, [])
(194, [])
(195, [])
(196, [])
(197, [])
(198, [200])
(199, [])
(200, [198])
(201, [])
(202, [205])
(203, [])
(204, [])
(205, [202])
(206, [])
(207, [])
(208, [])
(209, [])
(210, [])
(211, [])
(212, [])
(213, [])
(214, [])
(215, [])
(216, [])
(217, [392])
(218, [])
(219, [])
(220, [])
(221, [])
(222, [])
(223, [])
(224, [])
(225, [])
(226, [])
(227, [])
(228, [])
(229, [])
(230, [])
(231, [])
(232, [])
(233, [])
(234, [])
(235, [])
(236, [])
(237, [])
(238, [])
(239, [])
(240, [421])
(241, [])
(242, [563])
(243, [])
(244, [])
(245, [])
(246, [])
(247, [])
(248, [])
(249, [])
(250, [])
(251, [])
(252, [])
(253, [])
(254, [])
(255, [])
(256, [])
(257, [])
(258, [])
(259, [])
(260, [])
(261, [])
(262, [])
(263, [])
(264, [])
(265, [])
(266, [])
(267, [])
(268, [])
(269, [])
(270, [])
(271, [])
(272, [])
(273, [])
(274, [])
(275, [])
(276, [])
(277, [])
(278, [])
(279, [])
(280, [])
(281, [14])
(282, [18])
(283, [])
(284, [])
(285, [])
(286, [])
(287, [])
(288, [])
(289, [])
(290, [])
(291, [])
(292, [])
(293, [])
(294, [])
(295, [])
(296, [])
(297, [])
(298, [])
(299, [])
(300, [])
(301, [])
(302, [])
(303, [])
(304, [])
(305, [])
(306, [])
(307, [])
(308, [])
(309, [53])
(310, [])
(311, [])
(312, [])
(313, [])
(314, [])
(315, [])
(316, [])
(317, [])
(318, [])
(319, [])
(320, [])
(321, [])
(322, [66])
(323, [])
(324, [])
(325, [])
(326, [])
(327, [])
(328, [])
(329, [])
(330, [])
(331, [])
(332, [])
(333, [])
(334, [])
(335, [])
(336, [])
(337, [])
(338, [])
(339, [])
(340, [])
(341, [])
(342, [])
(343, [])
(344, [])
(345, [])
(346, [])
(347, [])
(348, [])
(349, [])
(350, [])
(351, [])
(352, [])
(353, [])
(354, [])
(355, [])
(356, [357])
(357, [356])
(358, [])
(359, [121])
(360, [])
(361, [])
(362, [])
(363, [])
(364, [])
(365, [])
(366, [])
(367, [])
(368, [])
(369, [])
(370, [])
(371, [])
(372, [])
(373, [])
(374, [])
(375, [])
(376, [])
(377, [])
(378, [])
(379, [])
(380, [])
(381, [])
(382, [])
(383, [])
(384, [])
(385, [])
(386, [])
(387, [])
(388, [])
(389, [])
(390, [])
(391, [])
(392, [217])
(393, [])
(394, [])
(395, [])
(396, [])
(397, [])
(398, [])
(399, [])
(400, [])
(401, [402])
(402, [401])
(403, [])
(404, [])
(405, [406])
(406, [405])
(407, [])
(408, [])
(409, [])
(410, [])
(411, [])
(412, [])
(413, [])
(414, [])
(415, [])
(416, [])
(417, [])
(418, [])
(419, [])
(420, [])
(421, [240, 422])
(422, [421])
(423, [424])
(424, [423])
(425, [])
(426, [])
(427, [])
(428, [])
(429, [])
(430, [])
(431, [])
(432, [])
(433, [])
(434, [435])
(435, [434])
(436, [])
(437, [])
(438, [])
(439, [])
(440, [])
(441, [])
(442, [])
(443, [])
(444, [])
(445, [])
(446, [])
(447, [])
(448, [])
(449, [])
(450, [])
(451, [])
(452, [])
(453, [])
(454, [])
(455, [])
(456, [])
(457, [])
(458, [])
(459, [])
(460, [])
(461, [])
(462, [])
(463, [])
(464, [])
(465, [])
(466, [])
(467, [])
(468, [])
(469, [])
(470, [])
(471, [])
(472, [])
(473, [])
(474, [])
(475, [])
(476, [])
(477, [])
(478, [])
(479, [])
(480, [])
(481, [])
(482, [])
(483, [])
(484, [])
(485, [])
(486, [])
(487, [])
(488, [])
(489, [])
(490, [])
(491, [])
(492, [])
(493, [])
(494, [])
(495, [])
(496, [])
(497, [])
(498, [])
(499, [])
(500, [])
(501, [])
(502, [])
(503, [])
(504, [])
(505, [])
(506, [])
(507, [])
(508, [])
(509, [])
(510, [])
(511, [])
(512, [])
(513, [])
(514, [])
(515, [])
(516, [105])
(517, [])
(518, [])
(519, [])
(520, [])
(521, [])
(522, [])
(523, [])
(524, [])
(525, [])
(526, [])
(527, [])
(528, [])
(529, [])
(530, [])
(531, [])
(532, [])
(533, [])
(534, [])
(535, [])
(536, [])
(537, [])
(538, [])
(539, [])
(540, [])
(541, [])
(542, [])
(543, [])
(544, [])
(545, [])
(546, [])
(547, [])
(548, [])
(549, [])
(550, [])
(551, [])
(552, [])
(553, [])
(554, [])
(555, [])
(556, [])
(557, [])
(558, [])
(559, [])
(560, [])
(561, [])
(562, [])
(563, [242, 565])
(564, [])
(565, [563])
(566, [])
(567, [])
(568, [])
(569, [])
(570, [])
(571, [])
(572, [])
(573, [])
(574, [])
(575, [])
(576, [])
(577, [])
(578, [])
(579, [])
(580, [])
(581, [])
(582, [])
(583, [])
(584, [])
(585, [])
(586, [])
(587, [])
(588, [])
(589, [])
(590, [])
(591, [])
(592, [])
(593, [])
(594, [])
(595, [])
(596, [])
(597, [])
(598, [])
(599, [])
(600, [])
(601, [])
(602, [])
(603, [])
(604, [])
(605, [])
(606, [])
(607, [])
(608, [])
(609, [])
(610, [])
(611, [])
(612, [])
(613, [])
(614, [])

In [42]:
haversine(ras[105], decs[105], ras[516], decs[516])

0.07054328200045186

In [31]:
ras[0], ras[542]

(8.536666666666665, 8.536666666666665)

In [32]:
decs[0], decs[542]

(-7.3648333333333325, -7.3648333333333325)

In [35]:
table.loc[0, :]

Unnamed: 0    0.000000
ra_deg        8.536667
dec_deg      -7.364833
Name: 0, dtype: float64